tests/assets/xsd/example_product_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="SkuType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{8}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="product">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sku" type="SkuType" />
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1" />
                            <xs:maxLength value="40" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="rating">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="100" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>