tests/assets/rng/example_product_schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="product">
            <interleave>
                <element name="sku">
                    <data type="string">
                        <param name="pattern">[A-Z0-9]{8}</param>
                    </data>
                </element>
                <element name="name">
                    <data type="string">
                        <param name="minLength">1</param>
                        <param name="maxLength">40</param>
                    </data>
                </element>
                <element name="rating">
                    <data type="integer">
                        <param name="minInclusive">0</param>
                        <param name="maxInclusive">100</param>
                    </data>
                </element>
            </interleave>
        </element>
    </start>
</grammar>
